<ion-view view-title="Your Account">
  <ion-content>
    <h1>Log In / Sign Up</h1>
  </ion-content>

  <ion-content>
    <md-content class="md-padding" layout="row">
      <div flex-xs="" layout="column">
        <md-card>
          <md-card-header>
            <md-card-avatar>
              <md-icon class="md-avatar-icon"></md-icon>
            </md-card-avatar>
            <md-card-header-text>
              <span class="md-title">User</span>
              <span class="md-subhead">subhead</span>
            </md-card-header-text>
          </md-card-header>
          <img ng-src="http://www.teachforindia.org/sites/default/files/attachment_1%20%281%29_0.jpeg" class="md-card-image" alt="Washed Out">
          <md-card-title>
            <md-card-title-text>
              <span class="md-headline">In-card mixed actions</span>
            </md-card-title-text>
          </md-card-title>
          <md-card-actions layout="row" layout-align="start center">
            <md-card-icon-actions>
              <md-button class="md-icon-button" aria-label="Favorite">
                <md-icon class="material-design">favorite</md-icon>
              </md-button>
              <md-button class="md-icon-button" aria-label="Share">
                <md-icon>share</md-icon>
              </md-button>
            </md-card-icon-actions>
            <md-button>Action 1</md-button>
            <md-button>Action 2</md-button>
          </md-card-actions>
          <md-card-content>
            <p>
              While the day to day work of teaching our children is of central importance,<br>
              we believe in creating bright spots to push our sense of possibility,<br>
              and to spread what we are learning beyond Teach For India.
            </p>
          </md-card-content>
        </md-card>
      </div>
    </md-content>
  </ion-content>

</ion-view>

