<ion-view view-title="Your Account">
  <ion-content>
    <div class="row">
      <div class="col">
        <button class="button button-block button-google button-shadow icon-left"
                ng-click="ac.login()">
          <i class="icon ion-social-google padding-right-30"></i>
          Login with Google
        </button>
      </div>
    </div>

    <div class="list margin-bottom-5">
      <label class="item item-input item-floating-label border-top-none">
        <span class="input-label gray">E-mail</span>
        <input type="email" ng-model="lc.user.email" placeholder="Email">
      </label>
      <label class="item item-input item-floating-label">
        <span class="input-label gray">Password</span>
        <input type="password" ng-model="lc.user.password" placeholder="Password">
      </label>
    </div>
    <div class="row">
      <div class="col">
        <button class="button button-block button-calm margin-0 block-button-maxw"
                ng-click="lc.emailSignIn()">
          Login with Email
        </button>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <hr>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <button class="button button-block button-outline button-calm margin-0 block-button-maxw"
                ng-click="lc.createAccount()">
          Sign up
        </button>
      </div>
    </div>
    <div class="row">
      <div class="col text-center gray">
        By logging into your account, you agree to our Terms and Conditions, Privacy Policy and Cookie Policy
      </div>
    </div>
  </ion-content>
</ion-view>

