<ion-view view-title="Contact Us">
  <ion-content>
    <md-content class="md-padding" layout-xs="column" layout="row">
      <div flex-xs="" flex-gt-xs="50" layout="column">
        <md-card>
          <md-card-title>
            <md-card-title-text>
              <span class="md-headline">Youth Social Service organization</span>
              <span class="md-subhead">Love all Serve all</span>
            </md-card-title-text>
            <md-card-title-media>
              <div class="md-media-lg card-media">
                <img ng-src="img/icon.png">
              </div>
            </md-card-title-media>
          </md-card-title>
          <div layout="row" layout-align="center">
            <div class="md-subhead">9460430046 | 9509646220</div>
          </div>
          <md-divider></md-divider>
          <div layout="row" layout-align="center" style="text-align: center">
            <div class="md-subhead"><b>E-Mail: </b>youthsocialserviceorganisation@gmail.com</div>
          </div>
        </md-card>
        <md-divider></md-divider>
        <div class="row">
          <div class="col">
            <div class="row" style="text-align: center">
              <div class="col">
                <h3>Addresses</h3>
              </div>
            </div>
            <div class="row" style="text-align: center">
              <div class="col">
                Youth social service organisation, Shop no. 05, Bhatiwal complex, Ram Nagar, Sardarshahar
              </div>
              <div class="col">
                B-11/3, Chinab Apartment Sector-28, Pratap Nagar, Jaipur, Rajasthan
              </div>
            </div>
            <div class="row" style="text-align: center">
              <div class="col">
                <h5>Head Office</h5>
              </div>
              <div class="col">
                <h5>Branch Office</h5>
              </div>
            </div>
          </div>
        </div>
      </div>
    </md-content>
  </ion-content>
  <div>
    <md-fab-speed-dial ng-hide="cc.hidden" md-direction="left" md-open="cc.isOpen" class="md-fling md-fab-bottom-right" ng-class="{ 'md-hover-full': cc.hover }"
      ng-mouseenter="cc.isOpen=true" ng-mouseleave="cc.isOpen=false">
      <md-fab-trigger>
        <md-button aria-label="Social" class="md-fab" style="background-color:white">
          <md-icon md-svg-src="img/social-hand-drawn/svg/share-files-draw.svg" aria-label="Social" style="color: black"></md-icon>
        </md-button>
      </md-fab-trigger>
      <md-fab-actions>
        <div ng-repeat="item in cc.items">
          <md-button ng-click="cc.openLink(item.url)" aria-label="{{item.name}}" class="md-fab md-raised md-mini" style="background-color:white">
            <md-icon md-svg-src="{{item.icon}}" aria-label="{{item.name}}"></md-icon>
          </md-button>
        </div>
      </md-fab-actions>
      </md-fab-speed-dial>
  </div>
</ion-view>