<ion-view view-title="Contact Us">
  <ion-content>
    <md-content class="md-padding" layout-xs="column" layout="row">
      <div flex-xs="" flex-gt-xs="50" layout="column">
        <md-card>
          <md-card-title>
            <md-card-title-text>
              <span class="md-headline">Youth Social Service Organisation</span>
              <span class="md-subhead">Love all Serve all</span>
            </md-card-title-text>
            <md-card-title-media>
              <div class="md-media-lg card-media">
                <img ng-src="img/icon.png">
              </div>
            </md-card-title-media>
          </md-card-title>
          <div layout="row" layout-align="center">
            <div class="md-subhead">9460430046 | 9509646220</div>
          </div>
          <md-divider></md-divider>
          <div layout="row" layout-align="center">
            <div class="md-subhead"><b>E-Mail: </b>youthsocialserviceorganisation@gmail.com</div>
          </div>
        </md-card>
        <!--<div layout="row" layout-align="center">-->
          <!--<div class="md-subhead" style="margin-left: 20px"><b>Address: </b>Youth social service organisation, <br>Shop no. 05, Bhatiwal complex, Ram Nagar , Sardarshahar</div>-->
        <!--</div>-->
      </div>
      <!--<div flex-xs="" flex-gt-xs="50" layout="column">-->
        <!--<md-card md-theme="{{ showDarkTheme ? 'dark-purple' : 'default' }}" md-theme-watch="">-->
          <!--<md-card-title>-->
            <!--<md-card-title-text>-->
              <!--<span class="md-headline">Card with image</span>-->
              <!--<span class="md-subhead">Small</span>-->
            <!--</md-card-title-text>-->
            <!--<md-card-title-media>-->
              <!--<div class="md-media-sm card-media"></div>-->
            <!--</md-card-title-media>-->
          <!--</md-card-title>-->
          <!--<md-card-actions layout="row" layout-align="end center">-->
            <!--<md-button>Action 1</md-button>-->
            <!--<md-button>Action 2</md-button>-->
          <!--</md-card-actions>-->
        <!--</md-card>-->
      <!--</div>-->
    </md-content>
  </ion-content>
</ion-view>

