<ion-view view-title="Youth Social Service">
  <ion-content>
    <div ng-cloak="">
      <md-content>
        <md-tabs>
          <md-tab>
            <md-tab-label>Upcoming Events</md-tab-label>
            <md-tab-body>
              View for Item #1 <br>
            </md-tab-body>
          </md-tab>
          <md-tab>
            <md-tab-label>Past Events</md-tab-label>
            <md-tab-body>
              View for Item #1 <br>
            </md-tab-body>
          </md-tab>
        </md-tabs>
      </md-content>
    </div>
  </ion-content>
</ion-view>
