<ion-view view-title="Media">
  <ion-content>
    <md-tabs md-dynamic-height="" md-border-bottom="">
      <!--<md-tab label="News & Events">-->
        <!--<md-content class="md-padding">-->
          <!--<h1 class="md-display-2">Data will come soon</h1>-->
          <!--<p>More data</p>-->
        <!--</md-content>-->
      <!--</md-tab>-->
      <md-tab label="Gallery">
        <md-content class="md-padding">
          <!--<h1 class="md-display-2">Event Pictures</h1>-->
          <md-tabs md-selected="mc.selectedIndex" md-autoselect="">
            <md-tab ng-repeat="tab in mc.tabs" ng-disabled="tab.disabled" label="{{tab.title}}">
              <ion-gallery ion-gallery-items="tab.events"></ion-gallery>
              <div style="padding: 25px; text-align: center;">
                <div ng-bind="tab.content"></div>
              </div>
            </md-tab>
          </md-tabs>

          <!--<div ng-repeat="e in mc.events" ng-if="$index%2==0" class="row columns-two">-->
            <!--<div class="card col home margin-bottom-0 ">-->
              <!--<a class="item item-text-wrap padding-0" ng-click="mc.showEventImages(mc.events[$index])">-->
                <!--<img class="category-image" ng-src="{{mc.events[$index].pictures[0]||'images/default.jpg'}}">-->
                <!--<h2 class="category-padding">{{mc.events[$index].title}}</h2>-->
              <!--</a>-->
            <!--</div>-->

            <!--<div class="card col home margin-bottom-0 " ng-if="mc.events[$index + 1]">-->
              <!--<a class="item item-text-wrap padding-0" ng-click="mc.showEventImages(mc.events[$index + 1])">-->
                <!--<img class="category-image" ng-src="{{mc.events[$index+1].pictures[0]||'images/default.jpg'}}">-->
                <!--<h2 class="category-padding">{{mc.events[$index + 1].title}}</h2>-->
              <!--</a>-->
            <!--</div>-->
          <!--</div>-->
        </md-content>
      </md-tab>
      <md-tab label="Videos">
        <md-content class="md-padding">
          <h1 class="md-display-2">Tab Three</h1>
          <p>Integer turpis erat, porttitor vitae mi faucibus, laoreet interdum tellus. Curabitur posuere molestie dictum. Morbi eget congue risus, quis rhoncus quam. Suspendisse vitae hendrerit erat, at posuere mi. Cras eu fermentum nunc. Sed id ante eu orci commodo volutpat non ac est. Praesent ligula diam, congue eu enim scelerisque, finibus commodo lectus.</p>
        </md-content>
      </md-tab>
    </md-tabs>
  </ion-content>
</ion-view>

