<ion-side-menus enable-menu-with-back-views="false">
  <ion-side-menu-content>
    <ion-nav-bar class="bar-dark">
      <ion-nav-back-button>
      </ion-nav-back-button>

      <ion-nav-buttons side="left">
        <button class="button button-icon button-clear ion-navicon" menu-toggle="left">
        </button>
      </ion-nav-buttons>
    </ion-nav-bar>
    <ion-nav-view name="menuContent"></ion-nav-view>
  </ion-side-menu-content>

  <ion-side-menu side="left">
    <ion-header-bar style="background-color: darkslategrey" ui-sref="app.home" ng-click="closeSideMenu()">
      <h1 class="title" style="color: white">Home</h1>
    </ion-header-bar>
    <ion-content>
      <md-content layout-align="top center">
        <ion-list>
          <ion-item class="item-thumbnail-left" ng-if="app.userLoggedIn">
            <img ng-src="{{app.userInfo.picture}}">
            <h2>{{app.userInfo.name}}</h2>
            <p>{{app.userInfo.email}}</p>
          </ion-item>
        </ion-list>
        <md-list flex="">
          <md-list-item class="md-list-item-text" ng-click="closeSideMenu()" aria-label="The Crisis" ui-sref="app.crisis">
            The Crisis
          </md-list-item>
          <md-list-item class="md-list-item-text" ng-click="closeSideMenu()" aria-label="What We Do" ui-sref="app.whatwedo">
            What We Do
          </md-list-item>
          <md-list-item class="md-list-item-text" ng-click="closeSideMenu()" aria-label="Our Impact" ui-sref="app.ourimpact">
            Our Impact
          </md-list-item>
          <md-list-item class="md-list-item-text" ng-click="closeSideMenu()" aria-label="Media" ui-sref="app.media">
            Media
          </md-list-item>
          <md-list-item class="md-list-item-text" ng-click="closeSideMenu()" aria-label="Our Story" ui-sref="app.ourstory">
            Our Story
          </md-list-item>
          <md-list-item class="md-list-item-text" ng-click="closeSideMenu()" aria-label="Join The Movement" ui-sref="app.join">
            Join The Movement
          </md-list-item>
          <md-list-item class="md-list-item-text" ng-click="closeSideMenu()" aria-label="Contact Us" ui-sref="app.contact">
            Contact Us
          </md-list-item>
          <!--<md-list-item class="md-list-item-text" ng-click="closeSideMenu()" aria-label="Share" ui-sref="app.share">-->
            <!--Share-->
          <!--</md-list-item>-->
          <md-list-item class="md-list-item-text" ng-click="closeSideMenu()" aria-label="Donate" ui-sref="app.donate">
            Donate
          </md-list-item>
          <md-list-item ng-if="!app.userLoggedIn" class="md-list-item-text" ng-click="closeSideMenu()" aria-label="Your Account" ui-sref="app.accounts">
            Login/Signup
          </md-list-item>
          <md-list-item ng-if="app.userLoggedIn" class="md-list-item-text" ng-click="closeSideMenu('logout')" aria-label="Log out" ui-sref="app.home">
            Logout
          </md-list-item>
          <md-list-item class="md-list-item-text" ng-click="closeApp()">
            Exit & Close
          </md-list-item>
        </md-list>
      </md-content>
    </ion-content>
  </ion-side-menu>
</ion-side-menus>
