<ion-side-menus enable-menu-with-back-views="false">
  <ion-side-menu-content>
    <ion-nav-bar class="bar-stable">
      <ion-nav-back-button>
      </ion-nav-back-button>

      <ion-nav-buttons side="left">
        <button class="button button-icon button-clear ion-navicon" menu-toggle="left">
        </button>
      </ion-nav-buttons>
    </ion-nav-bar>
    <ion-nav-view name="menuContent"></ion-nav-view>
  </ion-side-menu-content>

  <ion-side-menu side="left">
    <ion-header-bar class="bar-stable" ui-sref="app.home">
      <h1 class="title">[Y2S]</h1>
    </ion-header-bar>
    <ion-content>
      <!--<ion-list>-->
        <!--<ion-item menu-close ng-click="login()">-->
          <!--Login / SignUp-->
        <!--</ion-item>-->
        <!--<ion-item menu-close ui-sref="app.nowPlaying">-->
          <!--Now Playing-->
        <!--</ion-item>-->
        <!--<ion-item menu-close href="#/app/myLibrary">-->
          <!--My Library-->
        <!--</ion-item>-->
        <!--<ion-item menu-close href="#/app/playlists">-->
          <!--Playlists-->
        <!--</ion-item>-->
      <!--</ion-list>-->
      <md-content layout-padding="" layout-align="top center">
        <md-list flex="">
          <md-list-item class="md-list-item-text" ng-click="closeSideMenu()" aria-label="The Crisis" ui-sref="app.crisis">
            The Crisis
          </md-list-item>
          <md-list-item class="md-list-item-text" ng-click="closeSideMenu()" aria-label="What We Do" ui-sref="app.whatwedo">
            What We Do
          </md-list-item>
          <md-list-item class="md-list-item-text" ng-click="closeSideMenu()" aria-label="Our Impact" ui-sref="app.ourimpact">
            Our Impact
          </md-list-item>
          <md-list-item class="md-list-item-text" ng-click="closeSideMenu()" aria-label="Media" ui-sref="app.media">
            Media
          </md-list-item>
          <md-list-item class="md-list-item-text" ng-click="closeSideMenu()" aria-label="Our Story" ui-sref="app.ourstory">
            Our Story
          </md-list-item>
          <md-list-item class="md-list-item-text" ng-click="closeSideMenu()" aria-label="Join The Movement" ui-sref="app.join">
            Join The Movement
          </md-list-item>
          <md-list-item class="md-list-item-text" ng-click="closeSideMenu()" aria-label="Share" ui-sref="app.share">
            Share
          </md-list-item>
          <md-list-item class="md-list-item-text" ng-click="closeSideMenu()" aria-label="Donate" ui-sref="app.donate">
            Donate
          </md-list-item>
          <md-list-item class="md-list-item-text" ng-click="closeSideMenu()" aria-label="Your Account" ui-sref="app.accounts">
            Login
          </md-list-item>
          <md-list-item class="md-list-item-text" ng-click="closeApp()">
            Exit & Close
          </md-list-item>
        </md-list>
      </md-content>
    </ion-content>
  </ion-side-menu>
</ion-side-menus>
