<ion-view view-title="Our Impact">
  <ion-content>
    <md-content class="md-padding">
      <h3>Student Impact</h3>
      <p>Our goal for our students is to put every child that we work with on a different life path. <br>
        We measure our impact as progress to this goal on three levels - academic growth, values and mindset, and exposure and access.<br>

      </p>
      <h3>Women Empowerment</h3>
      <p>To improve the women power and remove the child labour from our society and save the futur of child and make future bright</p>
      <h3>Our vision</h3>
      <p>ONE DAY ALL CHILDREN WILL ATTAIN AN EXCELLENT EDUCATION</p>
      <h3>Our Mission</h3>
      <p>TO BUILD A MOVEMENT OF LEADERS WHO WILL ELIMINATE EDUCATIONAL INEQUITY IN INDIA</p>
      <br>
      <h4>Central to all our impact is leadership. <br>
        We aim to develop student leaders who show transformational change both in themselves and in their classroom, school, and community.<br></h4>
    </md-content>
  </ion-content>

</ion-view>

