<ion-view view-title="Our Story">
  <ion-content>
    <h1>Our Story</h1>
  </ion-content>

  <ion-content>
    <md-content class="md-padding" layout="row">
      <div flex-xs="" layout="column">
        <md-card>
          <img ng-src="http://www.teachforindia.org/sites/default/files/attachment_1%20%281%29_0.jpeg" class="md-card-image" alt="Washed Out">
          <md-card-content>
            <p>
              Our story is just a simple story, most people just think about helping people, that thought did come to us too, but we didn't just settle there.
              We really wanted to help people, because this is where we find true happiness for ourselves.
              As the great slogan goes "Giving is Loving", we just want to make the world a better place for everyone. So, here it goes,
              <p>
              In the mid 2013, two friends came together and thought about helping others and providing happiness to everyone,
              and the slogan "Love All, Serve All" came to their mind. They started to find ways to spread love and happiness wherever they go.
              They started with the basic ways like visiting orphanages, giving them parties, meet their requirements and taking care of them wherever possible.
              Basically the desire to help the needy, became a part of them, Then they decided to strive for the poor and make them rich,
              not in terms of money but in terms of happiness and love. Because they believed that "A person is only as rich as the love he receives".
              The names of the two friends are <b>Manoj Kumar Prajapat and Subhash Mali</b>.
              </p>
              <h5>
                Eventually, With the help of some other friends, who whole heartedly made a firm desicion to found an NGO (Non Govt. Organisation) and
                on 3rd Oct, 2016, we emerged as Youth Social Service Organisation.
                Special Thanks to Mr. Rohit Meena, C.A. Abhilash Chauhan, Shubham Jaiswal and all my friends
              </h5>
            </p>
          </md-card-content>
        </md-card>
      </div>
    </md-content>
  </ion-content>

</ion-view>

