<ion-view view-title="What We Do">
  <ion-content>
    <md-content class="md-padding" layout="row">
      <div flex-xs="" layout="column">
        <md-card>
          <img ng-src="img/icon.png" class="md-card-image" alt="Washed Out">
          <md-card-content>
            <p>
              <p>
                Welcome to the official App of Y2S. "Youth Social Service Organisation" was established in 2016 under Rajasthan Society Registration Act 1958.
                It is a small step taken towards the concern for poor and needy people in the society.
              </p>
              <p>
                Y2S includes academic and corporate providers, professional bodies and individuals with an interest and genuine concern,
                which is of increasing importance for society.
                It also includes the vision to make children engage with studies and make them ready to face competitive examinations.
              </p>
              <p>
                Along with the help of donators, Help unsupported, physically handicapped, disabled, and economically upset people of backward class
              </p>
              <p>
                Women Empowerment, Women and Child development
              </p>
              <p>
                Removal of social abuses from our society
              </p>
              <p>
                Beautification, Cleaning of the city, and use Recycling of products from garbage
              </p>
              <p>
                Help Orphans, Help-less Senior citizens or Heir-less people
              </p>
              <p>
                Enforcing Greenery, Plantation
              </p>
            </p>
          </md-card-content>
        </md-card>
      </div>
    </md-content>
  </ion-content>

</ion-view>

