<ion-view view-title="What We Do">
  <ion-content>
    <md-progress-linear md-mode="indeterminate" ng-if="ww.slides.length==0"></md-progress-linear>
    <md-content class="md-padding" layout="row">
      <div flex-xs="" layout="column">
        <md-card>
          <!--<img ng-src="img/icon.png" class="md-card-image">-->
          <md-card-content>
            <md-card layout="column" layout-align="center center" style="padding-bottom: 10px; padding-top: 10px" >
              <!--<h4>What We Do</h4>-->
              <jk-carousel
                data="ww.slides"
                item-template-url="'templates/slide-work.html'"
                max-width="320"
                max-height="240"
                auto-slide="true"
                auto-slide-time="3000" >
              </jk-carousel>
            </md-card>
            <div>
              <p>
                Welcome to the official App of Y2S. "Youth Social Service Organisation" was established in 2016 under Rajasthan Society Registration Act 1958.
                It is a small step taken towards the concern for poor and needy people in the society.
              </p>
              <p>
                Youth Social Services (Y2S) is an independent youth volunteer group which was established on 4th May 2013 by
                a small group of engineering college students committed to providing hope, health and security to abused, abandoned and
                neglected children living in deprived areas of the city where we work to improve the lives of needy children by using a hands-on,
                grass roots approach to bring as positive change which was achieved by our enthusiasm & team work and now we want to register our group into a NGO.
                Y2S was then recognized over parts of Jaipur. We work for children in orphanage house or in slum by educating and guiding them towards
                their better future, in turn for the betterment of our country. Obviously we are beyond excited about this spotlight on HOW’s work here
                and are hoping to get more and more people passionate about helping the most desperate part in their community.
                Our group is not only a group, it’s a big thinking that will take our country to next level. It simply means under development to developed country.
              </p>
              <p>
                Here we do some kind of works like:-
              </p>
              <div class="list">
                <li>Provide cloths to roadside kids.</li>
                <li>Stop child abuse.</li>
                <li>Provide study material to children who can’t afford and want to study.</li>
                <li>Motivate people to work instead of begging.</li>
                <li>Motivate people for voluntary blood donation.</li>
                <li>And also arrange blood for the people who need.</li>
                <li>Provide necessary material to the orphanage home children and make their life even better like a normal kid.</li>
                <li>Provide or arrange shelters for them so they can also sleep peacefully.</li>
                <li>Tell poor and uneducated people about the new services and planning that is provided by Govt. for them so they can take full profit of it.</li>
                <li>Provide medical help and tell them about new technology and tell them the ways to earn the money for living their life.</li>
              </div>

              </p>
              <p>
                Y2S includes academic and corporate providers, professional bodies and individuals with an interest and genuine concern,
                which is of increasing importance for society.
                It also includes the vision to make children engage with studies and make them ready to face competitive examinations.
              </p>
              <p>
                Along with the help of donators, Help unsupported, physically handicapped, disabled, and economically upset people of backward class
              </p>
              <p>
                Women Empowerment, Women and Child development
              </p>
              <p>
                Removal of social abuses from our society
              </p>
              <p>
                Beautification, Cleaning of the city, and use Recycling of products from garbage
              </p>
              <p>
                Help Orphans, Help-less Senior citizens or Heir-less people
              </p>
              <p>
                Enforcing Greenery, Plantation
              </p>
            </div>
          </md-card-content>
        </md-card>
      </div>
    </md-content>
  </ion-content>

</ion-view>

