/* Empty. Add your own CSS if you like */
.signup-panel-container {
  background: white;
}
.md-datepicker-calendar-pane {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 180;
  border-width: 1px;
  border-style: solid;
  background: transparent;
  -webkit-transform: scale(0);
  transform: scale(0);
  -webkit-transform-origin: 0 0;
  transform-origin: 0 0;
  transition: -webkit-transform 0.2s cubic-bezier(0.25, 0.8, 0.25, 1);
  transition: transform 0.2s cubic-bezier(0.25, 0.8, 0.25, 1); }
.md-datepicker-calendar-pane.md-pane-open {
  -webkit-transform: scale(1);
  transform: scale(1); }

/*
Copyright 2016 Google Inc. All Rights Reserved.
Use of this source code is governed by an MIT-style license that can be foundin the LICENSE file at http://material.angularjs.org/HEAD/license.
*/
